@import url("fonts.css");

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-primary);
}

:root {
  --color-primary: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #fff;
  --mb-20: 17.4px;
}

body {
  font-family: "Figtree";
  height: 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-950);
}

img {
  width: 100%;
  border-radius: 20px;
  opacity: tra;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  max-width: 384px;
  border-radius: 20px;
  border: 1px solid var(--gray-950);
  padding: 24px;
  box-shadow: 8px 8px 0px var(--gray-950);
}

.card-image {
  margin-bottom: var(--mb-20);
}

.card-info {
  margin-bottom: var(--mb-20);
}

.card-info h3 {
  max-width: fit-content;
  background-color: var(--color-primary);
  padding: 4px 12px;
  margin-bottom: var(--mb-20);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 800;
}

.card-info p {
  font-size: 14px;
  font-weight: 400;
}

.card-text {
  margin-bottom: var(--mb-20);
}

.card-heading h1 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 800;
  margin-bottom: var(--mb-20);
}

.card-heading h1:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.card-description p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--gray-500);
}

.card-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-author-image {
  width: 32px;
  height: 32px;
}

.card-author-name p {
  font-size: 14px;
  font-weight: 800;
}

@media (max-width: 485px) {
  .card {
    max-width: 327px;
  }

  .card-info h3,
  .card-info p {
    font-size: 12px;
  }

  .card-heading h1 {
    font-size: 20px;
  }

  .card-description p {
    font-size: 14px;
  }

  .lines {
    margin-left: 20px;
    background-image: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 20px,
      rgba(0, 0, 0, 0.03) 20px,
      rgba(0, 0, 0, 0.03) 90px
    );
  }
}
